@import '../../../shared/styles/variables';

.wrap-pager {
  height: map-get($map: $pager, $key: height );
  display: flex;
  align-items: center;
  padding: 0.5em;
  .pager-text-style {
    font-style: italic;
    font-size: 0.8em;
    color: rgba(0,0,0,0.4);
  }
  .pager-filter {
    span {
      margin-right: 0.5em;
    }
    select {
      max-height:25px;
    }
  }

  .arrows {
    display: flex;
    align-items: center;
  }
}
