<div class="wrap-article">
  Ok ragazzi, ci siamo. Benvenuti.
Questo è un sito culturale atipico, deal with it.
Aggiorniamo quando ci pare con un unico obiettivo: rendere liberi gli esordienti di poter, finalmente, dire tutto quello che ritengono opportuno (ma con stile).
I testi che troverete su questo sito sono tutti di esordienti che ci hanno convinto con la loro capacità di scrittura.
Per le riviste classiche è necessario sottostare a delle regole editoriali ferree e, molto spesso, non si viene neanche pagati. E poi… quella parte è meglio cancellarla. Era naturale che prima o poi qualcuno avrebbe fatto cortocircuito.
Eccoci.
Da quest’idea nasce E(i)SORDI – Rivista Letteraria: una piattaforma libera dove chiunque può condividere qualsiasi opera creativa, recensione o articolo mantenendo la qualità come stella polare. L’importante è che rispetti il nostro Insindacabile Decalogo, che vi riportiamo qui sotto:
1. Scrivete
2. Tutto
3. Il
4. Cazzo
5. Che
6. Volete
7. Basta
8. Che
9. Sia
10. Leggibile
Nel senso di non scadente, questo è l’unico filtro che ci siamo autoimposti.
E allora potrà capitare di trovare racconti sopra le righe che non potreste leggere da nessun’altra parte, oppure recensioni vere di quei film che avete odiato al cinema ma che la critica pagata considera capolavori. Una squadra variopinta ed in continua evoluzione di esordienti senza soldi, a briglia sciolta e senza niente da perdere a vostra completa disposizione per massacrare, mutilare, smontare, applaudire o rivoltare da cima a fondo qualsiasi argomento.
La metà dei proventi delle pubblicità che trovate all’interno del sito viene data all’esordiente che ha scritto il pezzo/articolo/recensione/racconto/lista_di_parole_interessanti
No, cioè… il 50%. Altro che Spotify.
Quindi, se qualcosa vi piace, consigliatela a tutti, cliccate sui banner, sostenete questi ragazzi!
Perché le buone maniere c’hanno rotto il cazzo, il marketing c’ha rotto il cazzo, il 2020 già c’ha rotto il cazzo e anche con le istituzioni non è che stiamo proprio in buoni rapporti.
Buon Divertimento.
</div>
