$padding-article-card: 0.85em; 

.wrap-article-card {
  margin: 1.25rem 0;
  max-width: 90vw; 
  height: 300px;
  padding: $padding-article-card;
  background-color: yellow ;
  position: relative;

  &.is-open {
    min-width: 90vw;
  }
}

.article-card {
  height: 100%;
  min-width: 100%;
  background-color: red;
  transition: all 2s ease-in-out;

  &.is-open {
    min-height: 300px;
    top: $padding-article-card;
    left:$padding-article-card;
    max-width: 94%;
    min-width: 94%;
    z-index: 999;
    position: absolute;
    animation: openCard 5s forwards;
  }



@keyframes openCard {
  0% {
    min-height: 300px;
    top: $padding-article-card;
    left: $padding-article-card;
    right: $padding-article-card;
    max-width: none;
    min-width: 94%;
  }
  25% {
    min-height: 300px;
    top: $padding-article-card;
    left: -50px;
    right: -100em;
    max-width: none;
    min-width: 94%;
  }
  50% {
    min-height: 900px;
    top: -100%;
    left: -50px;
    right: -100em;
    max-width: none;
    min-width: 94%;
  }
  75% {
    min-height: 900px;
    top: -100%;
  }
  100% {
    min-height: 900px;
    top: -100%;
    left: -50px;
    right: -100em;
    max-width: none;
    min-width: 94%;
  }
}
    
}
