$padding-article-card: 0.85em; 

.wrap-article-card {
  margin: 1.25rem 0;
  max-width: 90vw; 
  height: 300px;
  padding: $padding-article-card;
  background-color: yellow ;
  position: relative;

  &.is-open {
    min-width: 90vw;
  }
}

.article-card {
  display: block;
  height: 100%;
  min-width: 100%;
  background-color: red;
  transition: all 2s ease-in-out;

  /* &.is-open {
    max-height: 300px;
    top: $padding-article-card;
    left: $padding-article-card;
    max-width: 94%;
    min-width: 94%;
    z-index: 999;
    position: fixed;
    animation: openCard 5s forwards;
  } */




}


/* @keyframes openCard {
  0% {
    min-height: 300px;
    top: $padding-article-card;
    left: $padding-article-card;
    right: $padding-article-card;
    max-width: none;
  }
  25% {
    min-height: 300px;
    top: $padding-article-card;
    left: -50px;
    right: -100em;
    max-width: none;
  }
  50% {
    min-height: 900px;
    top: -100%;
    left: -50px;
    right: -100em;
    max-width: none;
  }
  75% {
    min-height: 900px;
    top: -100%;
  }
  100% {
    min-height: 100vh;//$ dagli una misura normale alla fine
    top: 0;
    left: 0;
    position: fixed;
    max-width: none;
    
  }
} */
    