<h1>steps</h1>

<div class="box">
  <a routerLink="/manifesto">
    Leggi il Manifesto
  </a>
</div>
<div class="box">
  <a routerLink="/pubblicazioni/articoli" ><!-- articles.module -->
    Leggi i articoli
  </a>
</div>
<div class="box">
  <a routerLink="/pubblicazioni/racconti" ><!-- articles.module -->
    Leggi i racconti
  </a>
</div>
<div class="box">
  <a routerLink="/pubblicazioni/podcast" ><!-- articles.module -->
    Leggi i podcast
  </a>
</div>
<div class="box">
  <a routerLink="/pubblicazioni/poesie" ><!-- articles.module -->
    Leggi i poesie
  </a>
</div>
<div class="box">
  <a href="">
    Contribuisci
  </a>
</div>